.teams{
    height: 50px;
    /* margin-right: -100px; */
}

.center-icon{
    width: 100px;
    
}

.height{
    
    height: 50px;
}

.Alfa-Romeo{
    margin-left: -50px;
    /* margin-right: -100px; */

}

.Renault{
    margin-left: -2px;
}

.Alpha-Tauri{
    margin-left: -25px;
}

.Racing-Point{
    margin-left: -6px;
}

.Mercedes{
    margin-left: -45px;
}

.Red-Bull{
    margin-left: -38px;
}

.Ferrari{
    margin-left: -6px;
}

.HAAS{
    margin-left: -15px;
}

.McLaren{
    margin-left: -25px;
}

.Williams{
    margin-left: -15px;
}

td{
    width: 2px;
}
