.teams{
    height: 50px;
    /* margin-right: -100px; */
}

.center-icon{
    width: 10%;
    margin: auto;
}

.icon-container{
    width: 100px;
    margin-right: 0px;
}

.height{
    
    height: 50px;
}

.Alfa-Romeo{
    margin-left: -5px;
    /* margin-right: -100px; */

}

.Alpine{
    margin-left: -5px;
}

.Alpha-Tauri{
    margin-left: -25px;
}

.Aston-Martin{
    margin-left: -20px;
}

.Mercedes{
    margin-left: -16px;
}

.Red-Bull{
    margin-left: -38px;
}
table{
    table-layout: fixed;
}

#Ferrari{
    margin-left: -6px;
    margin-right: -50px;
}

.HAAS{
    margin-left: -15px;
}

.McLaren{
    margin-left: -25px;
}

.Williams{
    margin-left: -15px;
}

.Reserve{
    margin-left: -40px
}
td{
    width: 2px;
}
