

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    background: #EEF2F7;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  color: rgb(241, 207, 10);
  font-style: italic;

}

.plain{
  color: black
}

@media only screen and (max-width: 500px){

  .signup{
    width: 100%
  }
  
  .logo{
      height: 85px;
  }

  .center-logo{
      width: 100%;
  }

  span{
      margin-right: -5px;
  }

  .practice-card{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    border: 0px
  }
  .driver-card{
    width: 100%;
  }

  .construct-card{
    width: 100%
  }

  .week-card{
    width: 100%;
  }

  .schedule-card{
    width: 100%
  }

  .driver-stat-card{
    width: 100%;
  }

  .driver-search{
    width: 200px;
  }
  .this-week{
      margin-left: 22px;
      font-size: 50px;
  }

  .current-schedule{
      margin-left: 22px;
  }

  .table{
      width: 100%
  }

  .driver-stats-container{
      border: 0;
      margin: 0;
      margin-top: 25px;
  }

  .center{
      width: 215px;
      margin: auto;
  }

  .driver-search{
      margin: 0;
  }

  .home-jumbo{
    width: 80%;
  }

}




