.alfa{
    background-image: url(../../../img/alfa.png);
}

#Ferrari-head{
    margin-left: 165px;

}

#Aston-Martin{
    height: 350px;
    margin-bottom: 25px;
    margin-left: 200px;

}

#Mercedes-head{
    margin-bottom: 25px;
    height: 250px;
    margin-left: 165px;

}

#Alfa-Romeo{
    height: 200px;
    margin-top: 50px;
    margin-left: 110px;

}

#HAAS-head{
    height: 500px;
    margin-top: -100px;
    margin-bottom: -75px;
    margin-left: 140px;

}

#Alpha-Tauri{
    margin-left: 165px;
}

#Williams-head{
    margin-left: 180px;
    margin-top: 50px;
    
}

#Red-Bull{
    height: 190px;
    margin-left: 155px;
    margin-top: 50px;

}

#McLaren-head{
    height: 300px;
    margin-left: 165px;

}

#Alpine-head{
    margin-left: 75px;
    margin-top: 0px;
    margin-bottom: 0px;

}