.logo{
    height: 220px;
    margin-top: 15px;
}
.center-logo{
    width: 800px;
    margin: auto;
    padding-left: 80px;

}

.links{
    
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
span{
   margin-left: 75px;
   margin-right: 45px;
}

.link-color{
    margin-left: -25px;
    color: rgb(173, 173, 173);
    font-style: italic;
}

.link-color:hover{
    color: black;
}

.driver-home{
    margin-right: 310px;
}
