.practice-container{
    margin: 100px;
    border: 3px solid gray;
    border-radius: 25px;
    
}



.driver-stats-container{
    margin: 100px;
    border: 3px solid gray;
    border-radius: 25px;
}

.first{
    color: gold;
}
.second{
    color: silver
}
.third{
    color: rgb(255, 153, 0)
}
.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    
    
    min-height: 200px;
    width: 39vw;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    margin-bottom: 200px;
  }

.stats-container{
    margin-left: 15px;
    margin-top: 15px;
}

.center{
    width: 25%;
    margin: auto;
}

.driver-search{
    width: 100%;
    margin-left: -50px;
}

.current-schedule{
    margin-left: '225px';
}

.table{
    width: "800px";
    margin: 'auto' ;
}

.team{
    cursor: pointer;
}

.stats-card{
    width: fit-content;
}

@font-face {
    font-family: 'F1-Regular';
    src: url('../../fonts/FORMULA1-REGULAR.OTF');
}


.f1{
    font-family: F1-Regular;
}

.practice-card{
    width: 1250px;
    margin: auto;
    margin-top: 50px
}

.driver-card{
    width: 800px;
    margin: auto;
    margin-top: 50px;
}

.construct-card{
    width: 800px;
    margin: auto;
    margin-top: 50px;
}

.week-card{
    width: fit-content;
    margin: auto;
}
.practice-table{
    width: 1250px;
}



  