.practice-container{
    margin: 100px;
    border: 3px solid gray;
    border-radius: 25px;
    
}

.this-week{
    margin-left: 225px;

}

.driver-stats-container{
    margin: 100px;
    border: 3px solid gray;
    border-radius: 25px;
}

.center{
    width: 25%;
    margin: auto;
}

.driver-search{
    width: 100%;
    margin-left: -50px;
}

.current-schedule{
    margin-left: '225px';
}

.table{
    width: "800px";
    margin: 'auto' ;
}


@media only screen and (max-width: 375px){
    .practice-container{
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        border: 0px
    }

    .this-week{
        margin-left: 22px;
    }

    .current-schedule{
        margin-left: 22px;
    }

    .table{
        width: 100%
    }

    .driver-stats-container{
        border: 0;
        margin: 0;
        margin-top: 25px;
    }

    .center{
        width: 215px;
        margin: auto;
    }

    .driver-search{
        margin: 0;
    }


  }
  